.button{
	-fx-font-weight : bold;
	-fx-background-color : white;
	-fx-background-radius : 22;
	-fx-text-fill: black;
	-fx-font-size : 32px;
	-fx-font-family : "Comic Sans MS";
}

.button:hover{
	-fx-background-color : #50D5E0;
	-fx-text-fill:white;
}